**/.ipynb_checkpoints/
**/.vector_cache/
**/__pycache__/
**/*.pickle
**/*.so
**/.ruff_cache
**/*.jsonl
./misc/oaxmlc_scripts/**/*.txt
./misc/oaxmlc_scripts/**/*.md
./misc/oaxmlc_scripts/**/*.csv
./output/
./datasets/*
./logs/
*.tex