**/.ipynb_checkpoints/
**/.vector_cache/
**/__pycache__/
**/*.pickle
**/*.so
**/.ruff_cache
**/*.json
**/*.jsonl
misc/oaxmlc_scripts/**/*.txt
misc/oaxmlc_scripts/**/*.md
misc/oaxmlc_scripts/**/*.csv
output/
datasets/
reports/
logs/
*.tex